@model HogentVmPortal.Shared.ViewModel.VirtualMachineCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VirtualMachine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Hostname</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SshKey" class="control-label">SshKey</label>
                <textarea asp-for="SshKey" class="form-control"></textarea>
                <span asp-validation-for="SshKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloneId">Template</label>
                <select asp-for="CloneId" asp-items="@(ViewData["Templates"] as SelectList)" class="form-control">
                    <option value="">-- Kies een template --</option>
                </select>
                <span asp-validation-for="CloneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="btnCreate" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
